body, html {
	font-family: sans-serif;
	background-color: #DDD;
	margin: 0;
}

h1, h2, h3 {
	font-weight: normal;
}

/****** Navigation and Content Area    *********/

nav {
	left: 1em;
	top: 1em;
	padding: .5em;
	border-radius: .5em;
	position: absolute;
	width: 15em;
	overflow-x: hidden;
	background-color: #FFF;
}

nav ul, nav li {
	padding: 0;
	margin: 0;
	list-style:none;
}

nav a {
	display: block;
	background-color: #DDD;
	margin: 2px;
	padding: 0.2em 0.5em;
	color: #000;
	text-decoration: none;
}

nav a:hover {
	color: #FFF;
	background-color: #AAA;
}

#content {
	padding: .5em 1em;
	margin: 1em;
	margin-left: 18em;
	border-radius: .5em;
	background-color: #FFF;
}

.github {
	display: block;
	float: right;
	margin: -.5em -1em;
}

/****** Content    *********/


table {
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: 1px solid #000;
}

th {
	background-color: #DDD;
	text-align: left;
}

